@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../font/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Bold.woff') format('woff'),
        url('../font/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.eot');
    src: local('Roboto-Regular'), local('Roboto-Regular'),
        url('../font/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Regular.woff') format('woff'),
        url('../font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}