include ../mixins/media
footer.footer
    .container
        .footer__logo
            //img(src=require(`./assets/img/svg/logo.svg`) class='img-full' alt='Логотип')
            img(src=require(`./pug/imagePaths.js`).logo class='img-full' alt='logo')
        .footer__info © 2024  Holy Grail