header.header
    .container
        .header__logo
            .header__logo-img
                img(src=require('../../pug/imagePaths.js').logo class='img-full' alt='logo')
            .header__logo-text Holy Grail
        .header__content
            .header__menu
                input(type="checkbox" class="header__nav-toggle" id="nav-toggle")
                label(for="nav-toggle" class="header__nav-button")
                    span.header__nav-ico
                .header__nav-background
                nav.header__nav
                    ul.header__nav-list
                        li.header__nav-item
                            a(href="/layout-holy-grail/" class='header__nav-link active') home
                        li.header__nav-item
                            a(href="/catalog" class='header__nav-link') catalog
                        li.header__nav-item
                            a(href="/" class='header__nav-link') about us
                        .header__links

            ul.header__links-list
                li.header__links-item
                    a(href="/layout-holy-grail/login" class='header__links-link underline') login
                li.header__links-item
                    a(href="/layout-holy-grail/register" class='header__links-link underline') register
                li.header__links-item
                    a(href="/" class='header__links-link')
                        .header__basket-img
                            img(src=require('../../pug/imagePaths.js').basket class='img-full' alt='Basket')
.secondary-menu
    .container
        .secondary-menu__breadcrumbs Home / Catalog
        .secondary-menu__search 
            input(type="search" placeholder="search")
            button Search
        .secondary-menu__nav
            .secondary-menu__sort
                input(type="checkbox" class="sort-toggle__input" id="sort-toggle")
                label(for="sort-toggle" class="secondary-menu__sort-button") 
                    .secondary-menu__sort-text Sort by:
                    span.secondary-menu__sort-btn Best selling
                .secondary-menu__sort-box 
                    ul.sort__list
                        li.sort-item
                            .checkbox-with-text.active
                                span.filter__decor
                                span.filter__text Best selling
                        li.sort-item
                            .checkbox-with-text
                                span.filter__decor
                                span.filter__text Alphabetically, Z-A
                        li.sort-item
                            .checkbox-with-text
                                span.filter__decor
                                span.filter__text Price, low to high
                        li.sort-item
                            .checkbox-with-text
                                span.filter__decor
                                span.filter__text Price, high to low
                        
                
            .secondary-menu__filter
                input(type="checkbox" class="filter-toggle__input" id="filter-toggle")
                label(for="filter-toggle" class="secondary-menu__filter-button") 
                    span.secondary-menu__filter-btn Filter
                .secondary-menu__filter-box
                    .secondary-menu__filter-title FILTER
                    .filter-box.filter-box__categoty
                        .filter-box__title Category
                        .filter-categoty__data
                            ul.filter__list
                                li.filter-item
                                    .checkbox-with-text.active
                                        span.filter__decor
                                        span.filter__text Bikes
                                li.filter-item
                                    .checkbox-with-text
                                        span.filter__decor
                                        span.filter__text Electric Bikes
                    .filter-box.filter-box__size
                        .filter-box__title Wheel size
                        .filter-categoty__data
                            ul.filter__list
                                li.filter-item
                                    .checkbox-with-text.active
                                        span.filter__decor
                                        span.filter__text 12
                                li.filter-item
                                    .checkbox-with-text
                                        span.filter__decor
                                        span.filter__text 14
                                li.filter-item
                                    .checkbox-with-text.active
                                        span.filter__decor
                                        span.filter__text 16
                                li.filter-item
                                    .checkbox-with-text
                                        span.filter__decor
                                        span.filter__text 20
                    .filter-box.filter-box__colour
                        .filter-box__title Colour
                        .filter-categoty__data
                            ul.filter__list
                                li.filter-item
                                    .checkbox-with-text.active
                                        span.filter__decor
                                        span.filter__text Black
                                li.filter-item
                                    .checkbox-with-text
                                        span.filter__decor
                                        span.filter__text Blue
                                li.filter-item
                                    .checkbox-with-text.active
                                        span.filter__decor
                                        span.filter__text Brown
                                li.filter-item
                                    .checkbox-with-text
                                        span.filter__decor
                                        span.filter__text Charcoal








                
            



            