doctype html
block variables_layout
block vars
    curPage
html(lang= 'en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Consult Product — #{title}
        meta(content="width=device-width, initial-scale=1", name="viewport")
    body
        if curPage === '/catalog'
            include ../component/header-catalog
        else if curPage === '/account'
            include ../component/header-account
        else
            include ../component/header
        block content
        include ../component/footer