.catalog-product{
    .container{
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__slider{
        width: 35rem;
        //background-color: bisque;
        display: flex;
        justify-content: space-between;
        padding: 2rem 0 2rem 2rem;
        height: 33.5rem;
        
        .swiper{
            &-carousel{
                width: 6rem;
                margin: 0;
                height: 27rem;
                top: 50%;
                transform: translateY(-50%);

                &__wrapper{
                    position: relative;
                }

                .swiper-slide{
                    img{
                        cursor: pointer;
                        opacity: 0.5;
                        transition: opacity .4s ease-in-out;
                    } 
                }
                .swiper-slide-thumb-active{
                    img{
                        cursor: default;
                        opacity: 1;
                    }
                    
                }
            }

            &-general{
                width: 28rem;
                margin: 0;

                &__button{
                    &-prev, &-next{
                        position: absolute;
                        width: 2.4rem;
                        height: 1.7rem;
                        background:url('../../img/svg/arrow.svg');
                        background-size: contain;
                        cursor: pointer;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                }

                &__button{
                    &-prev{
                        transform: rotate(180deg) translateX(50%);
                        top: 0;
                    }
                    &-next{
                        bottom: 0;
                    }
                }

                .swiper-slide{
                    cursor: pointer;
                }
            }
        }
    }

    &__info{
        width: 23.5rem;
    }

    &__title{
        padding-bottom: .5rem;
    }

    &__text{
        p{
            color: #808080;
        }

        ul{
            padding-left: 1rem;
            color: #808080;
            li{
                list-style:disc;
            }
        }
    }

    &__price{
        width: 15rem;
        padding: 3rem 1rem 1rem;
        border: 1px solid #d2c0cd;
        align-self: baseline;
        border-radius: 2rem;

        &-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding-bottom:1rem;
        }

        &-discount{
            font-size: 1.5rem;
            color: #FFA800;
        }

        &-old{
            color:#9C9890;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #9C9890;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .modal{
        width: 90vw;
        height: 90vh;
        box-sizing: border-box;

        .modal__content{
            width: 100%;
            height: 100%;              
        }

        .swiper-popup{
            width: 100%;
            height: 100%;
        }
    }

}


@media(max-width: 64em){
    .catalog-product{
        .container{
            flex-wrap: wrap;
        }

        &__slider{
            order: 2;
        }

        &__info{
            order: 0;
        }

        &__price{
            order: 1;
        }
    }
}

@media(max-width: 48em){
    .catalog-product{
        &__slider{
            height: 15rem;
            display: flex;
            padding: 1rem 0.5rem;
            .swiper-carousel{
                padding: 0 0.1rem;
                width: 4rem;
                height: 10rem;
            }

            .swiper-general{
                width: 12rem;
                height: 14rem;
            }
        }
    }
}

@media(min-width: 90em){
    .catalog-product{

    }
}
