.not-found{
    &-page{
        display: flex;

        align-items: center;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


    &__logo{
        width: 30rem;
        height: 10rem;
        display: flex;
        justify-content: space-between;

        &-el{
            width: 10rem;
        }

        &-wheel{
            img{
                animation-name: rotate;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }

    &__info{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}

@media (max-width: 48em) {
    .not-found{
        &__logo{
            width: 80%;
            height: auto;
            &-el{
                width: 25%;
                height: auto;
            }
            &-wheel{
                width: 35%;
            }
        }


        &__info{
            font-size: 1rem;
            margin-top: .5rem;
        }
    }
}


@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }