extends pug/layout/main
block variables_layout
    -
        let title = 'catalog'
        let curPage = '/basket';

block content
    main.main.basket
        .container
            .basket__content dfd

            .basket__aside ffdd

            

