extends pug/layout/main
block variables_layout
    -
        let title = 'Главная'
        let curPage = '/';

block content
    main.main.home-pape
        sectoion.hero 
            .hero__bg
                img(src=require(`./assets/img/home-background-min.png`) alt='hero')
            .container
                .hero__title
                    .hero__title-header Welcome to Holy Grail 
                    .hero__title-subheader Bikes and Electric Bikes
                    .hero__title-code Apply promo code
                        span APOLLO5 
                        | to receive an extra 5% discount for all Apollo bikes.