extends pug/layout/main
block variables_layout
    -
        let title = 'login'
        let curPage = '/login';

block content
    main.main.login-page 
        .container
            .form.login__box
                .form__title
                    span.form__title-logo 
                        img(src=require('./pug/imagePaths.js').logo class='img-full' alt='logo')
                    span.form__title-text Holy Grail
                .form__message
                form(action="#" class="form__login")
                    .form__field
                        input(type="email" placeholder="Enter your email" required)
                        span
                    .form__field.field__password
                        .form__field-eye
                            input(type="password" class="password" placeholder="Enter your password" required)
                            .eye
                        span
                    .form__field.form__button
                        input(type="button" value="Login")
                .form__link
                    a(href="#") Register

        