extends pug/layout/main
block variables_layout
    -
        let title = 'login'
        let curPage = '/login-error';

block content
    main.main.login-page 
        .container
            .form.login__box
                .form__title
                    span.form__title-logo 
                        img(src=require('./pug/imagePaths.js').logo class='img-full' alt='logo')
                    span.form__title-text Holy Grail
                .form__message Invalid password or email
                form(action="#" class="form__login")
                    .form__field
                        input(type="email" placeholder="Enter your email" required)
                        span Invalid email address format
                    .form__field
                        .form__field-eye
                            input(class="password" placeholder="Enter your password" required)
                            .eye
                        span Password too short. Use at least 6 characters.
                    .form__field.form__button
                        input(type="button" value="Login" disabled)
                .form__link
                    a(href="#") Register

        