extends pug/layout/main
block variables_layout
    -
        let title = 'swiper'
        let curPage = '/swiper';

block content
    main.main.catalog-page
        .container

            .swiper.mySwiper(thumbsSlider="")
                .swiper-wrapper
                    .swiper-slide
                         img(src="https://swiperjs.com/demos/images/nature-1.jpg")
                    .swiper-slide 
                        img(src="https://swiperjs.com/demos/images/nature-2.jpg")
                    .swiper-slide
                        img(src="https://swiperjs.com/demos/images/nature-3.jpg")

            .swiper.mySwiper2
                .swiper-wrapper
                    .swiper-slide
                        img(src="https://swiperjs.com/demos/images/nature-1.jpg")
                    .swiper-slide 
                        img(src="https://swiperjs.com/demos/images/nature-2.jpg")
                    .swiper-slide
                        img(src="https://swiperjs.com/demos/images/nature-3.jpg")

            .swiper-pagination
            <!-- If we need navigation buttons -->
            .swiper-button-prev
            .swiper-button-next

