extends pug/layout/main
block variables_layout
    -
        let title = 'login'
        let curPage = '/login';

block content
    main.main.register-page 
        .container
            .form.register__box register

        