extends pug/layout/main
block variables_layout
    -
        let title = 'login'
        let curPage = '/login';

block content
    main.main.register-page 
        .container
            .form.register__box
                .form__title
                    span.form__title-logo 
                        img(src=require('./pug/imagePaths.js').logo class='img-full' alt='logo')
                    span.form__title-text Register
                .form__message
                form(action="#" class="form__register")
                    .form__fields-title Personal info
                    .form__field
                        input(type="email" placeholder="Enter your email" required)
                        span
                    .form__fields  
                        .form__field
                            input(type="text" placeholder="First name" required)
                            span
                      
                        .form__field
                            input(type="text" placeholder="Last name" required)
                            span
                    .form__field.field__birth-date
                        input(type="text" placeholder="Birth date" required)
                        span
                    .form__fields-title Address
                    .form__fields-sub-title Shipping adress
                    .form__fields 
                        .form__field.field__country
                            select
                                option(selected disabled hidden) Country
                                option(value="Option 3") Option 3
                                option(value="Option 1") Option 1
                        .form__field
                            input(type="text" placeholder="city" required)
                            span
                    .form__fields 
                        .form__field
                            input(type="text" placeholder="street" required)
                            span
                        .form__field
                            input(type="text" placeholder="postal code" required)
                            span
                    .form__field
                            input(type="checkbox" id="check-address")
                            label(for="check-address") Set as default address
                            span
                    .form__fields-sub-title Choose password
                    .form__field.field__password
                        .form__field-eye
                            input(type="password" class="password" placeholder="Enter your password" required)
                            .eye
                        span
                    .form__field
                        input(type="checkbox" id="agree" required)
                        label(for="agree") Agree нужно ли?
                        span
                    .form__field.form__button
                        input(type="button" value="Register")
                .form__link
                    a(href="/layout-holy-grail/login") LogIn

                    


                        

        