.header{
    .container{
        height: 4.2rem;
        display: flex;
        align-items: center;
    }
    &__logo{
        display: flex;
        align-items: center;
        gap: .2rem;

        &-text{
            line-height: 0;
            text-transform: uppercase;
        }

        &-img{
            width: 2.2rem;
            height: 1.2rem;
        }

    }

    &__menu{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        &:before{
            flex: 1;
            content: "";
        }

    }

    &__nav{
        display: flex;
        align-items: center;
        &-list{
            display: flex;
            gap: 1.5rem;
        }

        &-link{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.875rem ;
        }

    }

    &__links{

        &-list{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            gap: 1.5rem;
        }

        &-item{
            display: flex;
            align-items: center;
        }

        &-link{
            position: relative;
            display: flex;
            align-items:center;
            text-transform: uppercase;
            height: 100%;
        }
    }

    &__basket-img{
        width: 1.125rem;
        height: 1.125rem;
    }


}

@media(min-width: 90em){
    .header{
        .menu__icon{
            display: none;
        }
    }
}

